@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --clr-primary: #7380ec;
    --clr-danger: #ff7782;
    --clr-success: #00ff0056;
    --clr-white: #fff;
    --clr-info-dark: #7d8da1;
    --clr-dark: #363949;
    --clr-warnig: #ff4edc;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-dark-variant: #677483;
    --clr-color-background: #a33acc73;

  /* Lavender colour: #a33acc73 */
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    appearance: none;
}

body{
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background: var(--clr-color-background) ;
}
.cont{
    display: grid;
    width: 96%;
    gap: 1rem;
    grid-template-columns: 15rem auto;
    margin: 0 auto;
}

a{
    color: var(--clr-dark);
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
b{
    color: var(--clr-dark);
}

.text-muted{
    color: var(--clr-info-dark);
}

p{
    color: var(--clr-dark-variant);
}
aside{
    height: 100vh;
    
}
.primary{
    color: var(--clr-primary);
}
.success{
    color: var(--clr-success);

}

.warning{
    color: var(--clr-warnig);
}

/* -----------------Aside------------------ */
aside .top{
    color: var(--clr-danger);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
    position: fixed;
    padding-left: 5px;
}



aside .top div.close{
    display: none;
}

/*-----------------------Side Bar------------------------*/

aside .sidebar{
    background-color: var(--clr-white);
    display: flex;;
    flex-direction: column;
    height: 85vh;
    position: relative;
    top: 5rem;
    padding-top: 20px;
    border-radius: 8px;
    position: fixed;
    box-shadow: 0 8px 16px black;

}

aside h3{
    font-weight: 700;
}

aside .sidebar a{
    display: flex;
    color: var(--clr-info-dark);
    padding-left: 1.5rem;
    padding-right: 3rem;
    align-items: center;
    height: 3.2rem;
    transition:all .1s ease-in;
    text-decoration: none;
}

aside .sidebar a span{
    font-size: 1.75rem;
    font-weight: 300;
    padding-right: 2px;
    transition:all .1s ease-in;
}
 aside .sidebar a:last-child{
    position: absolute;
    bottom: 1rem;
    width: 100%;
} 


aside .sidebar a.active{
    background: var(--clr-light);
    color: var(--clr-primary);
    padding-left: 0rem;
    margin-left: 0px;
    border: var(--clr-primary) solid 1.5px;
}



aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--clr-primary);
     
}

aside .sidebar a:hover{
    color: var(--clr-primary);
    background: rgba(127, 133, 192, 0.123);
    background-color: var(--clr-light);
}
